<h3>Feet To Centimeters Calculator</h3>

<div class="mb-3">
    <label class="form-label">Amount (feet)</label>
    <NumberInput TValue="int" @bind-Value="@feet" Placeholder="Enter amount" />

    <label class="form-label">Amount (inches)</label>
    <NumberInput TValue="int" @bind-Value="@inches" Placeholder="Enter amount" />

    <Button Style="border: solid 1px" @onclick="() => FeetandInchestoCM(feet,inches)">Calculate</Button>
</div>
<div class="mb-3">Centimeters: @centimeters</div>

@code {
    private int feet;
    private int inches;
    private decimal centimeters;

    private decimal FeetandInchestoCM(int feet, int inches)
    {
        decimal ret = 0;
        ret = feet * 12;
        ret = ret + inches;
        ret = ret * 2.54m;
        centimeters = ret;
        return ret;
    }
}