@page "/about"

<PageTitle>About</PageTitle>

<h1 ><strong>About US</strong></h1>
<div style="float: left; margin-right: 20px">
    <img src="images/Employees.png" alt="Company Employees" style="max-width: 600px" />
    <p style="font-size: smaller">From left to right: Sarah Adams, Emily Carter, Michael Johnson, James Brooks, Olivia Mitchell</p>
</div>
<p style="font-size: larger">
    The team of developers at ByteForge is a dynamic blend of talent and enthusiasm, each member bringing a unique passion for technology and innovation. Sarah Adams, with her keen eye for detail, is always eager to tackle new challenges, while Michael Johnson's collaborative spirit inspires creative problem-solving in every project. Emily Carter, known for her forward-thinking approach, is ready to implement the latest trends, ensuring our solutions remain cutting-edge. James Brooks's proactive mindset and adaptability make him a driving force in the team, and Olivia Mitchell's unwavering commitment to excellence elevates the entire group. Together, they embody a culture of enthusiasm and readiness, eager to forge ahead and deliver exceptional results for our clients.
</p>



@code {

}
